@media screen and (max-width: 992px) {
      .landing-section {
            position: absolute;
            background-color: rgb(250, 215, 215);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100vh;
            z-index: 10;
            top: 0;
            left: 0;


      }

      .landing-sections {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 1.5vw 10vw 1.5vw 10vw;
            align-items: center;
            border-bottom: 1px solid black;
            height: 100%;
            width: 100%;

      }

      .landing-sections h4 {
            font-family: "Neue Machina Medium";
            font-size: calc(1rem + 2vw);
      }

      .landing-sections div {
            border: 1px solid black;
            border-radius: 40px;
            padding: 10px 30px;
            text-align: center;
      }

      .landing-sections p {
            font-family: "stinger-variable", sans-serif;
            font-variation-settings: "wdth" 100, "wght" 400;
            font-size: calc(0.6rem + 1vw);
            line-height: 2rem;
      }

      .landing-sections img {
            position: absolute;
            top: 0;
            left: 0;
            scale: 0.2;
      }

      .landing-heart {
            -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
            animation: heartbeat 1.5s ease-in-out infinite both;
      }

      .landing-heart:hover {
            cursor: pointer;
      }

      .click-me-h2 {
            position: absolute;
            color: black;
            border: 1px solid black;
            top: 0;
            left: 0;
            margin-left: calc(12rem + 56vw);
            margin-top: calc(7.5rem + 50vh);
            transform: rotate(-22deg);
            visibility: hidden;
            background-color: white;

      }

      .click-me-h2 h2 {
            font-size: 1.8rem;
            font-family: "Neue Machina Medium";
      }

      @-webkit-keyframes heartbeat {
            from {
                  -webkit-transform: scale(0.6);
                  transform: scale(0.6);
                  -webkit-transform-origin: center center;
                  transform-origin: center center;
                  -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
            }

            10% {
                  -webkit-transform: scale(0.65);
                  transform: scale(0.65);
                  -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
            }

            17% {
                  -webkit-transform: scale(0.66);
                  transform: scale(0.66);
                  -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
            }

            33% {
                  -webkit-transform: scale(0.64);
                  transform: scale(0.64);
                  -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
            }

            45% {
                  -webkit-transform: scale(0.6);
                  transform: scale(0.6);
                  -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
            }

            100% {
                  -webkit-transform: scale(0.6);
                  transform: scale(0.6);
                  -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
            }
      }


      .landing-sections:nth-of-type(1) img {
            top: 0;
            border-radius: 80px;
            scale: 0.4;
            margin-top: -10vh;
            margin-left: 52vw;

      }

      /* .landing-sections:nth-of-type(2) img {
            top: 0;
            border-radius: 80px;
            scale: 0.1;
            margin-top: -85vh;
            margin-left: 28vw;
            transform: rotate(10deg);

      } */


      .landing-sections:nth-of-type(3) img {
            top: 0;
            border-radius: 80px;
            scale: 0.1;
            margin-top: -45vh;
            margin-left: -15vw;

      }

      .landing-sections:nth-of-type(4) img {
            top: 0;
            border-radius: 80px;
            scale: 0.25;
            margin-top: 50vh;
            margin-left: 50vw;
            transform: scaleX(-1);

      }
}