/* Resets, Body Styling and Font Imports */

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}



li {
      list-style: none;
}

a {
      text-decoration: none;
      color: black;
}

a:hover {
      cursor: pointer;
}

/* h1, h2, h3, p, etc should follow */


/* font imports */

@font-face {
      font-family: "Neue Machina Medium";
      src: url("./assets/fonts/neue_machina/PPNeueMachina-PlainMedium.woff2") format("woff2"),
            url("./assets/fonts/neue_machina/PPNeueMachina-PlainMedium.woff") format("woff")
}

@font-face {
      font-family: "Neue Machina Regular";
      src: url("./assets/fonts/neue_machina/PPNeueMachina-PlainRegular.woff2") format("woff2"),
            url("./assets/fonts/neue_machina/PPNeueMachina-PlainRegular.woff") format("woff")
}

@font-face {
      font-family: "Made Outter Sans Medium";
      src: url("./assets/fonts/made-outter-sans/made-outter-sans.otf");
}


h1 {
      font-family: "Neue Machina Medium";
}

/* font-family: "stinger-variable", sans-serif;
font-variation-settings: "wdth" 100, "wght" 400; */



/* Header Styling */

header {
      background-color: transparent;
      position: fixed;
      top: 0;
      right: 0;
      width: 5vw;
      height: 15vh;
      margin-top: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
}

header ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
}

header ul li {
      height: 16px;
      width: 16px;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 50%;
}

#current-section {
      font-family: "Made Outter Sans Medium";
      writing-mode: vertical-rl;
      text-orientation: upright;
      font-size: 0.7rem;
      margin-top: 0.2rem;
}

/* main sections styling */

.main-section {
      height: 100vh;
      width: 100vw;
}


/* section 1 styling  (landing section) */

.landing-section {
      background-color: #8EB4FD;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100vh;
      /* z-index: 10; */

}

.landing-sections {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 10vw 0 10vw;
      align-items: center;
      border-bottom: 1px solid black;
      height: 100%;
      width: 100%;
}

.landing-sections h4 {
      font-family: "Neue Machina Medium";
      font-size: 4rem;
}

.landing-sections div {
      border: 1px solid black;
      border-radius: 40px;
      padding: 10px 30px;
      text-align: center;
}

.landing-sections p {
      font-family: "stinger-variable", sans-serif;
      font-variation-settings: "wdth" 100, "wght" 400;
      font-size: 1.2rem;
      line-height: 2rem;
}

.landing-sections img {
      position: absolute;
      top: 0;
      left: 0;
      scale: 0.2;
}

.landing-sections:nth-of-type(1) img {
      top: 0;
      border-radius: 80px;
      scale: 0.4;
      margin-top: -10vh;
      margin-left: 52vw;

}

.landing-sections:nth-of-type(2) img {
      top: 0;
      border-radius: 80px;
      scale: 0.1;
      margin-top: -85vh;
      margin-left: 28vw;
      transform: rotate(10deg);

}


.landing-sections:nth-of-type(3) img {
      top: 0;
      border-radius: 80px;
      scale: 0.1;
      margin-top: -45vh;
      margin-left: -15vw;

}

.landing-sections:nth-of-type(4) img {
      top: 0;
      border-radius: 80px;
      scale: 0.25;
      margin-top: 50vh;
      margin-left: 50vw;
      transform: scaleX(-1);

}

.hidden-image {
      visibility: hidden;
}

.visible-image {
      visibility: visible;
}


/* About Section Styling */

.about-section {
      background-color: #A4FFDE;
}